---
import Navbar from "../components/react/Navbar"
import "../style/custom.css";
import heroImage from "../assets/img/hero2.png"
import { Image } from 'astro:assets';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-neutral-100">
		<header class="bg-transparent  absolute top-0 left-0 right-0 w-full flex items-center z-10">
			<Navbar client:load/>
		</header>
		<main class="">
			<section id="hero-section" class=" justify-between px-10 container">
				<div class="flex-wrap  bg-white  rounded-3xl   flex">
					<div class="text-hero  w-full lg:w-1/2 translate-y-10 lg:p-16  p-5">
						<p class="text-xl font-mono">Catch me if you can! Spotted the beast on the streets, where dreams meet horsepower.</p>
						<p class="text-md ">Some cars are meant to be seen, not just driven. Spotted perfection.</p>
					</div>
					<div class="image-hero w-full lg:w-1/2 	">
						<Image  src={heroImage} alt="A bird sitting on a nest of eggs." />
					</div>
				</div>
			</section>
			<section class="flex justify-center relative border border-red-500">
				<h1 class="absolute border border-red-500 -top-5">hello</h1>
			</section>
		</main>


	<script>
		// Navbar Fixed
		window.onscroll = function () {
		const header = document.querySelector("header");
		const fixedNav = header.offsetTop;

		if (window.pageYOffset > fixedNav) {
			header.classList.add("navbar-fixed");
		} else {
			header.classList.remove("navbar-fixed");
		}
		};
	</script>
	</body>
</html>
