---
import Navbar from "../components/react/Navbar"
import "../style/custom.css";

---
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cars Spotted</title>

		<!-- Link Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Protest+Strike&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>
<body>
	<header class="overflow-hidden bg-transparent  absolute top-0 left-1/2 -translate-x-1/2 rounded-b-3xl  w-[80%]  z-10">
		<Navbar client:load/>
	</header>
	<main>
		<slot/>
	</main>
    
	<script>
		// Navbar Fixed
		window.onscroll = function () {
		const header = document.querySelector("header");
		const fixedNav = header.offsetTop;
		const menuResponsive = document.getElementsByClassName("menu-responsive")[0]
		// console.log(menuResponsive)

		const efek = document.getElementById("efek")
	
		const imageBrand = document.getElementsByClassName("image")

		if (window.pageYOffset > fixedNav) {
			header.classList.add("navbar-fixed");
			menuResponsive.classList.remove("style-nav")
			
		} else {
			header.classList.remove("navbar-fixed");
			menuResponsive.classList.add("style-nav")
		}
		if(window.pageYOffset > 190){
			Array.from(imageBrand).forEach((el) => el.classList.add("efek"))
		}
		else{
			Array.from(imageBrand).forEach((el) => el.classList.remove("efek"))
		}

		
	}
	</script>
</body>
</html>