---
import Navbar from "../components/react/Navbar"

---
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cars Spotted</title>
	</head>
<body >
	<header class="bg-transparent  absolute top-0 left-1/2 -translate-x-1/2 rounded-br-full rounded-bl-full  w-[80%]  z-10">
		<Navbar client:load/>
	</header>
	<main>
		<slot/>
	</main>
    
</body>
</html>