---
import Navbar from "../components/react/Navbar"
import "../style/custom.css";

---
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cars Spotted</title>
	</head>
<body >
	<header class="bg-transparent  absolute top-0 left-1/2 -translate-x-1/2 rounded-br-full rounded-bl-full  w-[80%]  z-10">
		<Navbar client:load/>
	</header>
	<main>
		<slot/>
	</main>
    
	<script>
		// Navbar Fixed
		window.onscroll = function () {
		const header = document.querySelector("header");
		const fixedNav = header.offsetTop;

		const efek = document.getElementById("efek")
	
		const imageBrand = document.getElementsByClassName("image")

		if (window.pageYOffset > fixedNav) {
			header.classList.add("navbar-fixed");
		} else {
			header.classList.remove("navbar-fixed");
		}
		if(window.pageYOffset > 190){
			Array.from(imageBrand).forEach((el) => el.classList.add("efek"))
		}
		else{
			Array.from(imageBrand).forEach((el) => el.classList.remove("efek"))
		}

		
	}
	</script>
</body>
</html>